{% extends 'base_site.html' %}

{% load humanize crispy_forms_tags static %}

{% block content %}
    <h1 class="h3 mb-4 text-white font-weight-bold">Checkout:</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">{{ plano.titulo }}</div>
                <div class="card-body">
                    <p>{{ plano.descricao|safe }}</p>
                    <label>R$ {{ plano.formatar_valor }}</label>
                </div>
            </div>

            &nbsp;

            <div class="card md-6">
                <div class="card-header">Escolha o método de pagamento</div>
                <div class="card-body">
                    <div class="payment-methods">
                        <div class="payment-option" id="cartao-option">
                            <img src="{% static 'img/cartao.png' %}" alt="Cartão" class="payment-image" width="50">
                            <p>Cartão</p>
                        </div>
                        <div class="payment-option" id="pix-option">
                            <img src="{% static 'img/pix.png' %}" alt="Pix" class="payment-image" width="50">
                            <p>Pix</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="pix-details" class="hidden card md-6">
                <div class="card-header">Pagamento - Pix</div>
                <div class="card-body">
                    <!-- Informações do Pix -->
                    <center><button id="carregar-pix" class="btn btn-info">Gerar Código Pix</button></center>
                    <div id="pix-html" class="mt-3"></div>
                </div>
            </div>

            <div id="card-details" class="hidden card md-6">
                <div class="card-header">Pagamento - Cartão</div>

                <div class="card-simulation">
                    <div class="card-number" id="card-number">**** **** **** ****</div>
                    <div class="card-validade" id="card-validade">Validade: **/**</div>
                    <div class="card-nome" id="card-nome">Nome Sobrenome</div>
                    <div class="card-cvc" id="card-cvc">***</div>
                </div>

                <div class="card-body">
                    <form action="{% url 'pagamento' %}" method="POST">
                        {% csrf_token %}
                        {{ form_pagamento|crispy }}
                        <button type="submit" class="btn btn-primary">Pagar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <link href="{% static 'css/cartao.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/cartao.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // gerar o pix
            const carregarPixButton = document.getElementById('carregar-pix');
            const pixHtmlContainer = document.getElementById('pix-html');

            carregarPixButton.addEventListener('click', function() {
                // Limpa o conteúdo anterior
                pixHtmlContainer.innerHTML = 'Carregando...';

                // Faz a requisição AJAX
                fetch('{% url 'gerar_pix' %}?plano_id={{ plano.id }}')  // Substitua pela URL correta do seu endpoint
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao carregar os detalhes do Pix');
                        }
                        return response.text();
                    })
                    .then(html => {
                        // Atualiza o container com o HTML retornado
                        pixHtmlContainer.innerHTML = html;
                        carregarPixButton.classList.add('hidden');
                        $.Toast(
                            'Atenção', 
                            'Após o pagamento com pix, aguarde o e-mail com a confirmação da compra para realziar o(s) envio(s).',
                            'warning',
                            toastSettings
                        );
                    })
                    .catch(error => {
                        pixHtmlContainer.innerHTML = 'Erro ao carregar os detalhes do Pix: ' + error.message;
                    });
            });

        });
    </script>
{% endblock content %}



