{% extends 'base_site.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <div class="wrapper bg-gray-300 mt-n4 ml-n4 mr-n4 p-5 h-100">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-gray-900 font-weight-bold">ENTENDA COMO FUNCIONAM OS PLANOS</h4>
            </div>
        </div>
        <div class="row text-center mt-3 mb-4">
            <div class="col">
                <h4 class="text-gray-900">Cada plano que oferecemos corresponde a uma quantidade específica de acessos ao assessment PAMAS.</h4>
            </div>
        </div>
        <div class="row">
            {% for plano in object_list %}
                <div class="col-md-3 text-center font-weight-bold">
                    <div class="pb-2 mb-2" style="border-radius: 1.38rem;background-color: {{ plano.cod_cor }}">
                        <div class="card mb-3 pt-4 pb-3 px-3" style="border-radius: 1.38rem">
                            <p class="mb-0" style="color: {{ plano.cod_cor }}">{{ plano.titulo }}</p>
                            <label>R$ <b>{{ plano.formatar_valor }}</b></label>
                            <div class="text-gray-900 mt-3" style="min-height: 120px;">{{ plano.descricao|safe }}</div>
                        </div>
                        <a class="text-white" href="{% url 'planos_checkout' plano.id %}">
                            <p class="text-gray-900 px-3">ESCOLHER PLANO</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
