{% extends 'base_site.html' %}

{% load humanize crispy_forms_tags static %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Carrinho</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">{{ plano.titulo }}</div>
                <div class="card-body">
                    <p>{{ plano.descricao|safe }}</p>
                    <label>R$ {{ plano.valor|floatformat:2|intcomma }}</label>
                </div>
            </div>

            <div class="card-simulation">
                <div class="card-number" id="card-number">**** **** **** ****</div>
                <div class="card-validade" id="card-validade">Validade: **/**</div>
                <div class="card-nome" id="card-nome">Nome Sobrenome</div>
                <div class="card-cvc" id="card-cvc">***</div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">Pagamento</div>
                <div class="card-body">
                    <form action="{% url 'pagamento' %}" method="POST">
                        {% csrf_token %}
                        {{ form_pagamento|crispy }}
                        <button type="submit" class="btn btn-primary">Pagar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <link href="{% static 'css/cartao.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/cartao.js' %}"></script>
{% endblock content %}



