{% extends 'base_site.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <div class="wrapper mt-n4 ml-n4 mr-n4 p-5 h-100" style="background-color: #17224b;">
        <div class="row text-center mt-5 mb-5">
            <h1 style="color: #55e9ff">
                Potencialize o sucesso dos seus clientes com o assessment exclusivo PAMAS,
                que permite a análise e desenvolvimento de competências em diferentes
                performances.
            </h1>
        </div>
        <div class="row mt-5 mb-2">
            <h3 class="text-white">
                PARA COMEÇAR A USAR O ASSESSMENT, CONHEÇA OS PLANOS DISPONÍVEIS:
            </h3>
        </div>
        <div class="row">
            {% for plano in object_list %}
                <div class="col-md-3">
                    <a class="text-warning" href="{% url 'planos_detail' %}">
                        <div class="card mb-3 pt-4 pb-3 px-3 text-center">
                            {% if plano.imagem %}
                                <img class="mb-4" src="{% get_media_prefix %}{{ plano.imagem }}">
                            {% else %}
                                <h1>{{ plano.num_formularios }}</h1>
                            {% endif %}
                            {{ plano.titulo }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
