{% extends 'base_site.html' %}

{% load humanize %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Planos</h1>

    <div class="row">
        {% for plano in object_list %}
        <div class="col-lg-2">
            <div class="card md-2">
                <div class="card-header">{{ plano.titulo }}</div>
                <div class="card-body">
                    <p>{{ plano.descricao|safe }}</p>
                    <label>R$ {{ plano.valor|floatformat:2|intcomma }}</label>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-danger" href="{% url 'planos_detail' plano.id %}">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
