{% extends 'base.html' %}


{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Notificações</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Mensagem</th>
                            <th>Visualizado</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacao in object_list %}
                            <tr>
                                <td>{{ notificacao.tipo }}</td>
                                <td>{{ notificacao.mensagem }}</td>
                                <td class="text-center">
                                    {% if notificacao.is_visualizado %}
                                        <span class="text-success"><i class="fa fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="text-danger"><i class="fa fa-ban"></i></span>
                                    {% endif %}
                                </td>
                                <td>{{ notificacao.created_at|date:'d/m/Y' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_script %}

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

{% endblock %}