{% extends 'base_site.html' %}

{% load static %}

{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header">Notificações</div>
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Mensagem</th>
                            <th>Visualizado</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacao in object_list %}
                            <tr>
                                <td>{{ notificacao.tipo }}</td>
                                <td>{{ notificacao.mensagem }}</td>
                                <td class="text-center">
                                    {% if notificacao.is_visualizado %}
                                        <span class="text-success"><i class="fa fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="text-danger"><i class="fa fa-ban"></i></span>
                                    {% endif %}
                                </td>
                                <td>{{ notificacao.created_at|date:'d/m/Y - H:m:s' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_scripts %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}