table.import-preview tr.skip {
    background-color: #f0f696;
}

table.import-preview tr.new {
    background-color: #dcf516;
}

table.import-preview tr.delete {
    background-color: #ff5959;
}

table.import-preview tr.update {
    background-color: #a66cc1;
}

.validation-error-container {
    background-color: #cefff0;
}

table.import-preview td ins {
    background-color: #e1e6e5 !important;
  }

  table.import-preview td del {
    background-color: #92d7cd !important;
  }