{% extends 'base_site.html' %}

{% load static %}
{% load quiz_extras %}

{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header">Formulários Enviados</div>
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>URL Formulário</th>
                            <th>Status</th>
                            <th>Resultados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for envio in page_obj %}
                            <tr>
                                <td>{{ envio.email }}</td>
                                <td data-toggle="tooltip" data-placement="top" title="Copiar" onclick="copyToclipboard(this)">{{ envio.form_url }}</td>
                                <td>{{ envio.status|envio_status }}</td>
                                <td class="text-center">
                                    <!-- Link para tela de resultados -->
                                    {% if envio.status is not 'Finalizado' %} - {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if envio.status in 'Enviado,Acessado,Preenchendo' %}
                                        <a class="btn btn-danger btn-icon-split btn-sm" href="{% url 'cancelar_sent_form' envio.id %}">
                                            <span class="icon text-white-50"><i class="fa fa-ban"></i></span>
                                            <span class="text">Cancelar</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_scripts %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

<script>
    
    const copyToclipboard = async (e) => {
        try {
            await navigator.clipboard.writeText(e.textContent);
            
            $.Toast(
                'Sucesso',
                'Link copiado com sucesso.',
                'success',
                toastSettings
            );
            
        } catch (error) {
            console.error('Erro ao copiar para o clipboard: ', error);
        }
    };
    
</script>
{% endblock %}
