{% extends 'base_site.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">Enviar Formulário</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="d-flex flex-row-reverse mt-5">
                        <button type="submit" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50"><i class="fa fa-paper-plane"></i></span>
                            <span class="text">Enviar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}