{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Carrinho</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">{{ plano.titulo }}</div>
                <div class="card-body">
                    <p>{{ plano.descricao|safe }}</p>
                    <label>R$ {{ plano.valor|floatformat:2|intcomma }}</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">Pagamento</div>
                <div class="card-body">
                    <form action="{% url 'pagamento' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="cartao">Número do Cartão</label>
                                <input type="text" class="form-control" id="cartao" name="cartao">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="nome">Nome complemento</label>
                                <input type="text" class="form-control" id="nome" name="nome">
                                <small id="nome" class="form-text text-muted">Conforme aparece no cartão.</small>
                            </div>
                        </div>
                        <div class="form-row">
                              <div class="col-md-6 mb-3">
                                  <div class="form-group">
                                    <label for="vencimento">Data de vencimento</label>
                                    <input type="text" class="form-control" id="vencimento" name="vencimento">
                                    <small id="vencimento" class="form-text text-muted">Mês / Ano</small>
                                  </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <div class="col-md-12 mb-3">
                                    <label for="codigo">Código de segurança</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo">
                                    <small id="codigo" class="form-text text-muted">CVV</small>
                                </div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" id="cpf" name="cpf">
                            </div>
                        </div>
                        <div class="form-row">
                        </div>
                        <input type="hidden" name="plano" value="{{ plano.id }}" />
                        <button type="submit" class="btn btn-primary">Pagar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
