{% load static %}

<p style="text-align: center;">
    <img src="{% static 'img/emails/logo-header.png' %}" width="176"> 
</p>
<h3 style="color: gray; text-align: center;">PERFORMANCE ADVANCED MANAGEMENT ASSESSMENT SKILLS</h3>
<p>
    <b>
        Parabéns! Você acaba de receber o assessment exclusivo e eficaz que desenvolve competências de forma única e abrangente. Obrigada por ter escolhido o PAMAS, a ferramenta que vai transformar a sua vida e promover o seu sucesso.
    </b>
</p>
<p>
    Ah, antes de acessar o link de preenchimento do assessment, é importante que leia atentamente as informações abaixo:
</p>
<p>
    <b><ins>SOBRE O PAMAS</ins></b><br>
    É uma avaliação ampla de 120 perguntas que avalia cinco distintas perfomances, cada
    uma focada em áreas críticas para o sucesso organizacional. São elas:
</p>
<p>
    <b>1. PERFORMANCE NA GESTÃO: IMPACTO POSITIVO PARA LIDERANÇA</b><br>
    Avalia as competências essenciais de liderança, identificando e desenvolvendo as
    habilidades necessárias para liderar com eficácia em diversos contextos.
</p>
<p>
    <b>2. PERFORMANCE EM EQUIPES: IMPACTO POSITIVO PARA TIMES DE TRABALHO.</b><br>
    Foca nas competências essenciais para conduzir times de alto desempenho,
    fornecendo insights sobre como maximizar a produtividade e a coesão das equipes.
</p>
<p>
    <b>
        3. PERFORMANCE NO ENGAJAMENTO: IMPACTO POSITIVO NO ENVOLVIMENTO E
        MOTIVAÇÃO PROFISSIONAL.
    </b><br>
    Mede o nível de comprometimento e motivação dos colaboradores, fatores cruciais para
    a retenção de talentos e a satisfação no trabalho.
</p>
<p>
    <b>4. PERFORMANCE NO DESEMPENHO: IMPACTO POSITIVO NA ALTA PERFOMANCE.</b><br>
    Aborda a construção de times de alta performance, identificando as dinâmicas e
    estratégias que promovem a excelência coletiva.
</p>
<p>
    <b>5. PERFORMANCE NA ORGANIZAÇÃO: IMPACTO POSITIVO CORPORATIVO.</b><br>
    Avalia a construção de organizações competitivas e que queiram se perpetuar, focando
    em práticas e competências que garantem a sustentabilidade e a vantagem competitiva
    a longo prazo.
</p>
<p>
    Cada uma dessas áreas é meticulosamente analisada para fornecer um panorama
    completo das capacidades e zonas de melhoria, permitindo que as organizações
    implementem estratégias de desenvolvimento eficazes e direcionadas.
</p>
<p>
    <b><ins>COMO PREENCHER ESTE FORMULÁRIO:</ins></b><br>
    <ul>
        <li>
            Atenção à escala: Cada pergunta deve ser respondida com base em uma escala
            linear de 1 a 5, onde 1 significa "Discordo Totalmente" e 5 significa "Concordo
            Plenamente". Escolha a opção que melhor representa sua opinião ou experiência em relação à afirmação apresentada.
        </li>
        <li>
            Sinceridade é fundamental: Para garantir a eficácia deste assessment, é essencial
            que suas respostas sejam o mais sinceras e precisas possível. Não há respostas
            "certas" ou "erradas"; estamos interessados em compreender suas verdadeiras
            competências e áreas de desenvolvimento.
        </li>
        <li>
            Sem pressa: Dedique o tempo necessário para refletir sobre cada pergunta.
            Embora o formulário seja extenso, uma análise cuidadosa de suas respostas nos
            permitirá fornecer insights valiosos sobre seu perfil profissional.
            Confidencialidade: Garantimos a total confidencialidade de suas respostas. Este
            formulário é uma ferramenta de desenvolvimento pessoal e profissional, e as
            informações coletadas serão utilizadas exclusivamente para fins de análise de
            competências.
        </li>
    </ul>
</p>
<p>
    Ao final deste processo, você terá uma melhor compreensão de suas forças e áreas que
    podem beneficiar-se de desenvolvimento adicional. Estamos aqui para apoiá-lo em seu
    crescimento pessoal e profissional.
</p>
<p>
    <b><ins>LINK DE ACESSO</ins></b><br>
    Vamos começar? Segue o <a href="{{ link }}">link</a> para o preenchimento do assessment.


<p style="text-align: center; color: gray;">
    Equipe Pamas<br>
    <br>
    <img src="{% static 'img/emails/logo-assignature.png' %}" width="145">
</p>