<p>Olá,</p>
<br>
<p>
    Segue o <a href="{{ link }}">link</a> para o preenchimento do assessment.
</p>
<p>
    Leia atentamente as instruções abaixo:
</p>
<h3>Performance Advanced Management Assessment Skills</h3>
<h5>Olá! Seja muito bem-vindo(a)!</h5>
<br>
<p>
    O <b>PAMAS</b> é uma avaliação ampla de 120 perguntas que avalia cinco distintas
    perfomances, cada uma focada em áreas críticas para o sucesso organizacional. São
    elas:
</p>
<h5>1. PERFORMANCE NA GESTÃO: IMPACTO POSITIVO PARA LIDERANÇA</h5>
<p>
    Avalia as competências <b>essenciais de liderança</b>, identificando e desenvolvendo as
    habilidades necessárias para liderar com eficácia em diversos contextos
</p>
<h5>2. PERFORMANCE EM EQUIPES: IMPACTO POSITIVO PARA TIMES DE TRABALHO.</h5>
<p>
    Foca nas <b>competências essenciais para conduzir times de alto desempenho</b>,
    fornecendo insights sobre como maximizar a produtividade e a coesão das equipes.
</p>
<h5>
    3. PERFORMANCE NO ENGAJAMENTO: IMPACTO POSITIVO NO ENVOLVIMENTO E
    MOTIVAÇÃO PROFISSIONAL.
</h5>
<p>
    Mede o nível de <b>comprometimento e motivação</b> dos colaboradores, fatores cruciais para
    a retenção de talentos e a satisfação no trabalho.
</p>
<h5>4. PERFORMANCE NO DESEMPENHO: IMPACTO POSITIVO NA ALTA PERFOMANCE.</h5>
<p>
    Aborda a <b>construção de times de alta performance</b>, identificando as dinâmicas e
    estratégias que promovem a excelência coletiva.
</p>
<h5>5. PERFORMANCE NA ORGANIZAÇÃO: IMPACTO POSITIVO CORPORATIVO.</h5>
<p>
    Avalia a construção de <b>organizações competitivas e que queiram se perpetuar</b>, focando
    em práticas e competências que garantem a sustentabilidade e a vantagem competitiva
    a longo prazo.
</p>
<p>
    Cada uma dessas áreas é meticulosamente analisada para fornecer um panorama
    completo das capacidades e zonas de melhoria, permitindo que as organizações
    implementem estratégias de desenvolvimento eficazes e direcionadas.
</p>
<p>
    Em resumo, o <b>Performance Advanced Management Assessment Skills (PAMAS)</b> não é
    apenas uma ferramenta de avaliação, mas um guia estratégico para o desenvolvimento
    contínuo e a excelência organizacional. Ao integrar essas cinco áreas de avaliação, o
    AMAS oferece uma visão holística e detalhada das competências necessárias para
    prosperar em um ambiente corporativo dinâmico e competitivo.
</p>
<p>
    <b>Como preencher este Assessment:</b>
    <ul>
        <li class="mb-3">
            <b>Atenção à escala:</b> Cada pergunta deve ser respondida com base em uma escala
            linear de 1 a 5, onde 1 significa "Discordo Totalmente" e 5 significa "Concordo
            Plenamente". Escolha a opção que melhor representa sua opinião ou experiência
            em relação à afirmação apresentada.
        </li>
        <li class="mb-3">
            <b>Sinceridade é fundamental:</b> Para garantir a eficácia deste assessment, é essencial
            que suas respostas sejam o mais sinceras e precisas possível. Não há respostas
            "certas" ou "erradas"; estamos interessados em compreender suas verdadeiras
            competências e áreas de desenvolvimento.
        </li>
        <li class="mb-3">
            <b>Sem pressa:</b> Dedique o tempo necessário para refletir sobre cada pergunta.
            Embora o assessment seja extenso, uma análise cuidadosa de suas respostas nos
            permitirá fornecer insights valiosos sobre seu perfil profissional.
        </li>
        <li class="mb-3">
            <b>Confidencialidade:</b> Garantimos a total confidencialidade de suas respostas. Este
            assessment é uma ferramenta de desenvolvimento pessoal e profissional, e as
            informações coletadas serão utilizadas exclusivamente para fins de análise de
            competências.
        </li>
    </ul>
</p>
<p>
    Ao final deste processo, você terá uma melhor compreensão de suas forças e áreas que
    podem beneficiar-se de desenvolvimento adicional. Estamos aqui para apoiá-lo em seu
    crescimento pessoal e profissional.
</p>
<p>Atenciosamente,</p>
<p>Equipe Pamas</p>