{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-lg-4">
        <div class="card mb-4">
            <h5 class="card-header">Enviar Formulário Cliente</h5>
            <div class="card-body">
                {% if message %}
                    <div class="alert alert-{{ alert }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}