{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pamas</title>

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="{% static 'css/toast.min.css' %}" rel="stylesheet" type="text/css">
            
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" type="text/css">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav sidebar sidebar-light accordion h-100" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                    <div class="sidebar-brand-icon mx-3">
                        <img src="{% static 'img/logo.png' %}"/>
                    </div>
                </a>
                
                {% if user.is_authenticated and not user.is_staff %}

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Menu
                    </div>

                    <!-- Nav Item - Tables -->
                    <li class="nav-item {{ planos_active}}">
                        <a class="nav-link" href="{% url 'planos' %}">
                            <span>Planos</span>
                        </a>
                    </li>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item {{ assessment_active}}">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            <span>Assessments</span>
                        </a>
                        <div id="collapseTwo" class="collapse {{ assessment_active|yesno:'show,' }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item {{ enviar_active|yesno:'bg-info text-white,' }}" href="{% url 'send_form' %}">Enviar</a>
                                <a class="collapse-item {{ lista_envios_active|yesno:'bg-info text-white,' }}" href="{% url 'list_sent_form' %}">Listar Envios</a>
                            </div>
                        </div>
                    </li>
                    
                {% endif %}
                
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light topbar static-top shadow" style="background-color: #000;">

                        {% if user.is_authenticated and not user.is_staff %}
                            
                            <!-- Sidebar Toggle (Topbar) -->
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>

                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">

                                {% include 'notificacoes.html' %}

                                <div class="topbar-divider d-none d-sm-block"></div>

                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="d-none d-lg-inline small">
                                            Saldo: {{ request.user.userprofile.num_formularios|default:'0' }} /  Envios: {{ request.user.userprofile.num_envios|default:'0' }}
                                        </span>
                                    </a>
                                </li>

                                <div class="topbar-divider d-none d-sm-block"></div>

                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                            {{ request.user.first_name }} {{ request.user.last_name }}
                                        </span>
                                        <img class="img-profile rounded-circle"
                                            src="{% static 'img/undraw_profile_2.svg' %}">
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="{% url 'alterar_senha' %}">
                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Trocar Senha
                                        </a>
                                        <a class="dropdown-item" href="{% url 'all_pagamentos' %}">
                                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Histórico
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        {% endif %}

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    {% if request.path == "/" %}
                        <div class="container-fluid h-100 bg-site p-0">
                    {% else %}
                        <div class="container-fluid h-100 pt-4">
                    {% endif %}
                        {% block content %}
                            <div class="row align-items-end h-100 pb-5">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center py-3 mb-5" style="background-color: rgba(255,255,255,0.75);">
                                    <h5 class="text-gray-900">
                                        Este é o seu sistema para adquirir senhas ao Assessment PAMAS, compartilhá-los com seus clientes e gerenciar resultados.
                                    </h5>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-info btn-icon-split font-weight-bold" href="{% url 'planos' %}">
                                        <span class="text">Planos</span>
                                        <span class="icon" style="background: none;"><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer p-0">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Pamas 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->
        
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Click em "Logout" se realmente deseja encerrar a sessão.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/toast.script.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
        
        <script>
            const toastSettings = {
                position_class: 'toast-top-right',
                has_icon: true,
                has_close_btn: true,
                has_progress: true,
                stack: true,
                width: 400,
            };
            {% if messages %}
                {% for message in messages %}
                    const messageTag = '{{ message.tags }}';
                    const messageTitle = function (messageTag) {
                        switch (messageTag) {
                            case 'info':
                                return 'Info';
                            case 'warning':
                                return 'Alerta';
                            case 'error':
                                return 'Erro';
                            default:
                                return 'Sucesso';
                        }
                    } (messageTag);
                    $.Toast(
                        messageTitle, 
                        '{{ message }}',
                        messageTag,
                        toastSettings
                    );
                {% endfor %}
            {% endif %}
        </script>

        {% block js_scripts %} {% endblock %}
        
    </body>
</html>