<!-- Nav Item - Alerts -->
<li id="dropdownNotifications" class="nav-item dropdown no-arrow mx-1">
    <a id="navLinkId" class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 id="notificationId" class="dropdown-header">
            Notificações
        </h6>
        
        <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_notificacoes' %}">Ver Todas</a>
    </div>
</li>

{% block js_script %}
<script>
    const getNotifications = async function() {
        const url = "{% url 'notificacoes' %}"
        
        try {
            const response = await fetch(url);
            
            if (!response.ok) {
                throw new Error(`Erro ao recuperar notificações: ${response.error()}`)
            }
            return response.json();
         } catch (error) {
            consol.error(error)
        }
    };

    const setViewedNotifications = async function(ids=null) {
        const request = new Request('/notificacoes/viewed/', {
            method: 'PUT',
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            body: JSON.stringify({
                ids: ids
            }),
        });
        
        try {
            const response = await fetch(request);
            
            if (!response.ok) {
                throw new Error(`Erro ao recuperar notificações: ${response.error()}`)
            }
            return response.json();
         } catch (error) {
            consol.error(error)
        }
    };
    
    document.addEventListener('DOMContentLoaded', async function () {
        const navLink = document.getElementById('navLinkId');
        const notificationDiv = document.getElementById('notificationId');
        const notifications = await getNotifications();

        navLink.insertAdjacentHTML(
            'beforeend',
            notifications.count >=10
            ? '<span class="badge badge-danger badge-counter">10+</span>' 
            : notifications.count >0 
            ? `<span class="badge badge-primary badge-counter">${ notifications.count }</span>`
            : ''
        );

        function getIcon(type) {
            switch (type) {
                case 'Alerta':
                    return `<div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation text-white"></i>
                            </div>`
                case 'Informativa':
                    return `<div class="icon-circle bg-primary">
                                <i class="fas fa-info text-white"></i>
                            </div>`
                default:
                    return `<div class="icon-circle bg-success">
                                <i class="fas fa-check text-white"></i>
                            </div>`
            }
        }

        function getFormattedDate(strDate) {
            const locale = 'pt-BR';
            const date = new Date(strDate);

            return `${ date.toLocaleDateString(locale) } - ${ date.toLocaleTimeString(locale) }`
        }

        notifications.data.forEach(notification => {
            notificationDiv.insertAdjacentHTML(
                'afterend',
                `
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <input type="hidden" name="notificacoes" value="${notification.id}"/>
                    <div class="mr-3">
                        ${ getIcon(notification.tipo) }
                    </div>
                    <div>
                        <div class="small text-gray-500">${ getFormattedDate(notification.created_at) }</div>
                        ${ notification.mensagem }
                    </div>
                </a>
                `
            );
        });

        $('#dropdownNotifications').on('show.bs.dropdown', async function () {
            const ids = $('input[name="notificacoes"]').map(function () {
                return this.value;
            }).get();
            const notification = await setViewedNotifications(ids);
        });
    });
    
</script>
{% endblock %}