{% extends 'public_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-white-900 mb-4">Cadastre-se</h1>
                    </div>
                    <form class="user" method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="form-group">
                            <label for="termosCondicoesText">Termos e Condições</label>
                            <textarea class="form-control" id="termosCondicoesText" rows="20" style="background-color: #fff; resize: none;" readonly>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis tincidunt ipsum. Quisque quis lobortis velit. Nulla bibendum eu dolor sit amet bibendum. Quisque ornare ipsum vel feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ex lacus, viverra at lobortis eu, laoreet a quam. Nulla sapien ante, vehicula at finibus sit amet, facilisis sed nibh. Quisque nisl odio, dictum eget lectus non, fringilla aliquet odio. Curabitur malesuada feugiat elit, in blandit nunc mattis vitae. Ut sodales sapien sit amet purus vehicula vulputate.

                                Nulla auctor, mauris sed commodo iaculis, augue sapien vehicula est, varius efficitur sapien lacus a metus. Mauris posuere risus at nulla pharetra aliquet a in ligula. Nunc non nisl vitae nibh pulvinar pellentesque. Integer rutrum turpis lorem, lobortis pulvinar erat porttitor ac. Aenean scelerisque, ligula eget auctor cursus, urna ipsum tincidunt sapien, in ornare massa felis rutrum velit. Sed venenatis malesuada massa, nec auctor dolor viverra id. Integer ac venenatis felis. Mauris commodo egestas commodo. Sed imperdiet consectetur leo, at condimentum tortor aliquet vel.

                                Cras mattis et justo posuere tempus. Ut euismod urna dolor. Aenean ac eros tellus. Etiam cursus malesuada nibh laoreet sodales. Sed ut arcu dictum, tincidunt risus non, ultricies est. Mauris sed orci et tortor ultrices cursus. Vivamus sodales nisi eu fermentum commodo. Nullam sit amet tempor purus.

                                Suspendisse mattis convallis tempus. Nullam tempus pharetra lectus, non ultricies quam posuere non. Integer fringilla, ligula ac blandit pellentesque, ligula enim pretium arcu, a rutrum lorem ex non nibh. Nunc vel convallis diam. Sed id malesuada ante. In sed nulla dictum augue tempus fringilla in a sapien. Maecenas dapibus est non lectus porttitor pharetra. Suspendisse ante urna, tincidunt sit amet elit sit amet, posuere tristique sapien. In posuere quis metus ac venenatis. In venenatis orci ac malesuada molestie. Fusce id dolor eu quam iaculis feugiat. Aenean sodales sodales lectus vel ullamcorper. Integer semper mi ac vehicula ultrices. Quisque finibus vitae nibh vitae ultricies.

                                Duis quis fringilla dolor, sed gravida purus. Mauris purus lectus, placerat non laoreet a, vehicula ut nisi. Phasellus tortor magna, facilisis in odio nec, consectetur congue turpis. Quisque mollis turpis in fermentum tempus. Duis efficitur sem vitae ipsum sollicitudin pulvinar. Etiam et nulla risus. Quisque a ultrices lorem. Maecenas at erat dignissim, fermentum metus ac, pulvinar dolor. Nam dignissim interdum egestas. Phasellus ultrices felis in magna rhoncus dictum ut in lorem. Donec quis felis eu ex pharetra mattis. Donec eget fringilla sapien, sed placerat massa. Nam a urna tempus, facilisis mauris id, scelerisque magna. Sed vel purus feugiat, viverra massa non, blandit dolor. Phasellus a placerat nisi. Fusce urna nulla, accumsan id turpis ac, mattis pharetra felis.

                                Nunc ultrices nulla eget diam congue, eget auctor tellus congue. Integer accumsan est et ipsum faucibus, a egestas massa malesuada. Vestibulum non elementum eros. Maecenas rhoncus diam sapien, non scelerisque elit congue at. Sed eu leo et nulla molestie molestie et in justo. Vivamus at venenatis sapien. Nunc nisi magna, ultricies at commodo at, tincidunt lacinia neque. Aenean interdum risus tortor, eget porta tellus suscipit id. Suspendisse potenti. Sed aliquet dapibus metus sit amet aliquet.

                                Nullam justo turpis, volutpat et massa sit amet, dictum feugiat mauris. Vivamus eu odio molestie, finibus eros efficitur, lobortis mauris. Vestibulum dapibus velit vitae tellus suscipit, ut scelerisque sapien convallis. Etiam tempor justo vitae erat viverra eleifend. Integer scelerisque quis massa eu euismod. Duis nunc dolor, lacinia non justo quis, finibus gravida sem. Donec vehicula velit id mauris pharetra egestas. Suspendisse condimentum tortor cursus hendrerit sodales. Curabitur viverra in nunc id consectetur. Aliquam condimentum velit a feugiat blandit. Maecenas elit quam, elementum ac lacus eget, varius vehicula ex. Maecenas a odio neque. Fusce vel erat molestie, semper turpis eu, viverra leo. Sed sodales ex quam, ac lobortis odio faucibus eu. Quisque tincidunt posuere risus non pretium.

                                Cras luctus erat mi, hendrerit commodo velit lobortis vestibulum. Integer ultrices, elit vel congue blandit, nisl diam placerat metus, quis vulputate tellus sem eu nibh. Etiam nec ultricies sem. Donec accumsan nulla quam, vel elementum tortor pretium sit amet. Fusce non vulputate velit, a congue ipsum. Phasellus accumsan laoreet varius. Nunc purus nisi, viverra vel enim id, tristique vulputate tortor. Sed eleifend quis sapien et consectetur.

                                Cras sed condimentum lectus. Proin quis mattis dui. Suspendisse eleifend aliquam rhoncus. Praesent interdum erat turpis, vel viverra magna vestibulum nec. Integer mi libero, lacinia nec lectus vitae, porta vehicula arcu. Etiam mattis justo nunc, in accumsan massa cursus sit amet. Donec non pulvinar massa, vel feugiat enim. Maecenas risus arcu, auctor a felis vel, sodales pharetra nunc. Duis vulputate pulvinar ultricies. Phasellus aliquet risus sed semper volutpat. Integer interdum accumsan mattis.

                                Integer ac placerat ante, non consequat tellus. Mauris maximus augue consectetur ullamcorper accumsan. Curabitur pharetra lectus in justo rhoncus, vitae tincidunt libero maximus. Nulla eu rutrum elit. Nulla facilisi. Aenean ac purus eu eros tincidunt blandit sed vel dui. Vestibulum a augue rhoncus, faucibus arcu pulvinar, gravida nunc.

                                Etiam at porta eros. Mauris iaculis mi nisl. Vestibulum ullamcorper metus leo, a porta sem tempor in. Aliquam ipsum risus, ultricies at consequat id, luctus nec augue. Suspendisse sollicitudin eleifend purus, non vulputate purus bibendum ac. Pellentesque maximus lorem at nisi rutrum euismod. Vivamus vel dignissim odio, eu gravida lacus. Sed lobortis dolor non purus gravida accumsan.

                                Donec vehicula malesuada risus non cursus. Nam vulputate magna eu purus mollis, at pretium tellus vulputate. Nunc vel diam non elit ultrices vestibulum condimentum et mauris. Praesent iaculis justo non neque sollicitudin accumsan. Fusce tincidunt fringilla tortor sit amet tincidunt. Donec at enim ligula. Cras in dui mauris.


                            </textarea>
                          </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Concordo com os termos e condições
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-block font-weight-bold rounded-pill">
                            Cadastrar
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'esqueceu_usuario' %}" >Esqueceu sua senha?</a>
                        <br>
                        <a href="{% url 'login' %}" >Já possui uma conta? Entrar!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/inputmask.min.js' %}"></script>

    <script>
        Inputmask('(99) 99999-9999').mask('#id_whatsapp');
    </script>
{% endblock %}