{% extends 'public_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-white-900 mb-4">Cadastre-se</h1>
                    </div>
                    <form class="user" method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="form-group">
                            <label for="termosCondicoesText">Termos e Condições de Uso</label>
                            <textarea class="form-control" id="termosCondicoesText" rows="20" style="background-color: #fff; resize: none;" readonly>
        O uso deste site e os termos e condições para o nosso fornecimento de informações são regidos por este aviso legal. Ao usar este site, você reconhece que leu este aviso legal e que aceita e estará vinculado a estes termos. O assessment PAMAS pode, a seu exclusivo critério, modificar ou revisar estes termos e condições a qualquer momento, atualizando esta página da web. Você está vinculado a qualquer modificação ou revisão e, portanto, deve visitar esta página periodicamente para revisar o Contrato.

        O PAMAS não assume nenhuma responsabilidade em relação à precisão das informações fornecidas, e o uso de tais informações é por sua conta e risco. Em nenhum caso o assessment PAMAS será responsável perante qualquer parte por quaisquer danos diretos, indiretos, especiais ou outros danos consequenciais por qualquer uso deste site, ou qualquer outro site hipervinculado.

        O PAMAS não garante que as informações atenderão aos seus requisitos específicos, serão adequadas para qualquer finalidade específica, incluindo triagem pré-contratação, correspondência, aconselhamento ou como um preditor de habilidade ou comportamento; nem o PAMAS faz qualquer garantia quanto aos resultados que podem ser obtidos a partir do uso de quaisquer avaliações ou serviços de consultoria.
    
        O assessment PAMAS não divulgará seu nome ou divulgará o fato de que você enviou materiais ou outras informações para nós, a menos que obtenhamos sua permissão para usar seu nome ou sejamos obrigados a fazê-lo por lei.
                            </textarea>
                          </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Concordo com os termos e condições
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-block font-weight-bold rounded-pill">
                            Cadastrar
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'esqueceu_usuario' %}" >Esqueceu sua senha?</a>
                        <br>
                        <a href="{% url 'login' %}" >Já possui uma conta? Entrar!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/inputmask.min.js' %}"></script>

    <script>
        Inputmask('(99) 99999-9999').mask('#id_whatsapp');
    </script>
{% endblock %}