{% extends 'public_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 mb-4 font-weight-bold">ENTRAR</h1>
                    </div>
                    <form class="user" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-info btn-block font-weight-bold rounded-pill">
                            <span>Avançar</span>
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'cadastro_usuario' %}" >Cadastre-se</a>
                        <br>
                        <a href="{% url 'esqueceu_usuario' %}" >Esqueceu sua senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}