{% extends 'base_site.html' %}

{% load humanize crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-body">
                    <h4>Redefinição de Senha Completa</h4>
                    <p>Sua senha foi redefinida com sucesso! Você agora pode fazer login com sua nova senha.</p>
                    <a href="{% url 'login' %}">Voltar para a página de login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}