{% extends 'base_site.html' %}

{% load humanize crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card md-6">
                <div class="card-header">Nova senha</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Redefinir senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}